@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --primary: #6e6eff;
    --secondary: #ee9ca7;

    --border-color: #353577;

    --text-color: #f0f3fd;
    --text-light: #adbcf4;

    --background: #161733;
    --shadow-color: #0e0d1f66;
    --secondary-light:#ee9ca733;
    --primary-light: #6e6eff33;
    
    --warning: #FFE56E;
    --warning-light: #FFE56E33;

    --danger: #FF756E;
    --danger-light: #FF756E33;

    --neutral: #8282AA;
    --neutral-light: #8282AA33;

    --success: #6EFFA4;
    --success-light: #6EFFA433;

    --heading-font: 'Cinzel', serif;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-weight: 300;
    letter-spacing: 1px;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #312d59, #27264c, #1e1e3f, #161733, #0f0f27);
}

a {
    text-decoration: none;
}

.debug {
    outline: 2px dashed lime;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px 0;
    margin-bottom: 8px;
    cursor: pointer;
}
.logo span {
    font-weight: 200;
    font-size: 1.6em;
    font-family: var(--heading-font);
    color: var(--text-light);
}
.logo img {
    width: 40px;
}


hr.light-separator {
    border: unset;
    border-bottom: 1px solid var(--border-color);
    width: 100%;

}

/************************* 
    Menu Lateral 
**************************/
.side-menu {
    width: 380px;
    background-color: #161733aa;
    border-right: 1px solid var(--border-color);
    box-shadow: 4px 0px 8px var(--shadow-color);;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu-header {
    width: 100%;
    text-align: center;
    padding: 8px 16px;
    /* min-height: 96px; */
}
.side-menu-body {
    padding: 8px 0;
    flex-direction: column;
    flex-grow: 1;
}
.side-menu-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    /* height: 96px; */
    padding: 16px;
    text-align: center;
    font-size: .9em;
}
.side-menu-footer hr {
    margin-bottom: 16px;
}
.menu-item {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    margin: 4px 0;
    font-size: 1.2em;
    color: var(--text-light);
    outline: 1px solid  #0000;
    transition: all .2s ease;
}
.menu-item i {
    opacity: .4;
}
.menu-item:hover {
    background-color: var(--border-color);
    color: var(--text-color);
    
}

.menu-item a {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
}

.menu-item.active {
    background-color: var(--primary);
    color: var(--text-color);
}
.logout-item {
    width: 100%;
}
.logout-item a {
    display: inline-block;
    width: 100%;
    padding: 16px 0px;
    font-size: 1.2em;
    color: var(--text-light);
    transition: all .2s ease;
}
.logout-item a i {
    color: var(--text-light);

}
.logout-item a:hover {
    color: var(--text-color);
}




/************************* 
    Layout
**************************/
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.waterdrop {
    width: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
    mix-blend-mode: screen;
    filter: blur(8px);
}
header {
    width: min(100%, 1640px);
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header i {
    font-size: 1.6em;
    opacity: .4;
}
.title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 10px;
    padding: 0 16px;
    padding-top: 24px;
}

.title h1 {
    font-family: var(--heading-font);
}

main {
    flex-grow: 1;
    width: min(100%, 1640px);
    margin:auto;
}



/************************* 
    Página Tarefas
**************************/

.wrapper {
    padding: 24px;
    margin: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: #25255722;
    backdrop-filter: blur(16px);
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.add-task-row {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.add-task-input {
    width: min(100%, 800px);
    padding: 8px 20px;
    font-size: 1.2em;
}
.add-task-button {
    font-size: 1.6em;
    width: 48px;
    height: 48px;
}

.inline-input {
    border: unset;
    border-radius: 4px;
    border-bottom: 1px solid var(--border-color);
    background-color: unset;
    outline: unset;
    padding: 12px;
    margin: 6px;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}
.inline-input:active,
.inline-input:focus {
    border-bottom: 1px solid var(--primary);
}

.pill-button {
    border: unset;
    cursor: pointer;
    background-color: var(--primary);
    padding: 12px;
    line-height: 12px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
.pill-button:hover {
    filter: brightness(1.2);
}

.pill-button.secondary {
    background-color: unset;
    outline: 1px solid var(--primary);
    color: var(--primary);
}
.pill-button.secondary:hover {
    filter: brightness(1.2);
}
.pill-button.secondary i {
    color: var(--primary);
}

.inline-button {
    background-color: unset;
    color: var(--primary);
    border: unset;
    outline: unset;
    padding: 8px;
    margin: 0;
    cursor: pointer;
    font-size: 1.1em;
    transition: all .2s ease;
}

.inline-button:hover {
    filter: brightness(1.4);
}
.inline-button:hover {
    filter: brightness(1.4);
}
.inline-button i {
    color: var(--primary);
    font-size: 1em;
}

#to_do {
    display: flex;
    gap: 25px;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
}



#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191933;
    outline: 0 solid #0000;
    padding: 8px 12px;
    margin-top: 12px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #1118;
    transition: all .2s ease-in-out;
}
.task:hover {
    outline: 1px solid var(--secondary);
}

.task .progress {
    margin-right: 10px;
}

.task .progress.done + .task-description {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

.task .task-description {
    font-size: 1.2em;
    padding: 4px 0px;
    margin: 0px 8px;
    width: 100%;
}

.task .task-actions {
    display: flex;
    gap: 16px;
}

.action-button {
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
}
.action-button .fa-pen-to-square,
.action-button .fa-trash-can {
    transition: all .2s ease;
}
.action-button:hover .fa-pen-to-square {
    color: var(--primary);
}
.action-button:hover .fa-trash-can {
    color: var(--secondary);
}

.to-do-form {
    width: 100%;
    display: flex;
    align-items: center;
}
.edit-input {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 16px 8px;
}

.confirm-button {
    /* font-size: 1.2em; */
    width: 36px;
    height: 36px;
    line-height: 8px;
}



@media screen and (max-width: 600px) {
    #to_do {
        width: 300px;
    }
}





/************************* 
    Misc
**************************/

.light-text {
    color: var(--text-light);
    opacity: .6;
}
.light-text.large{
    font-size: 1.4em;
}
.hidden {
    display: none !important;
}

.label {
    color: var(--text-light);
    opacity: .8;
}












/************************* 
    Modal
**************************/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0003;
    backdrop-filter: blur(12px);
    z-index: 1000;
}
#detailsModal,
#createModal {
    display: none;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 20px;
    box-shadow: 4px 4px 16px #3333;
    z-index: 1001;
    width: 50%;
    max-width: 500px;
}

.modal-header {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal-header h2 {
    font-size: 2em;
    font-weight: 600px;
    color: var(--text-light);
    padding: unset;
}

.modal-footer {
    padding-top: 24px;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/************************* 
    Form
**************************/

.input-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin: 24px 0;
}

.input-row input:hover,
.input-row select:hover {
    border: 1px solid var(--secondary);
    box-shadow: 2px 2px 6px #3333;
}

.input-row input,
.input-row select {
    width: 100%;
    padding: 16px 12px;
    background-color: unset;
    border: 1px solid var(--border-color);
    outline: unset;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #3333;
    transition: all .2s ease;
}

.input-row label {
    color: var(--text-color);
    opacity: .4;
}

.input-row.small {
    max-width: 300px;
}



/************************* 
    Toast
**************************/

.toast {
    width: 300px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    box-shadow: -3px 3px 15px #0009;
    background-color: #1e1e3f33;
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.icon i {
    font-size: 2.4em;
    opacity: .4;
    color: var(--primary);
    margin-top: 8px;
}
.toast-text {
    flex: 1;
}
.toast-header {
    padding-top: 8px;
}
.toast-title {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary);
    text-wrap: nowrap;
}

.toast-body {
    color: var(--text-light);
    padding: 8px 0;
}



/************************* 
    Status
**************************/
.status {
    padding: 8px;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--primary-light);
    border-radius: 4px;
}

.status.secondary {
    color: var(--secondary);
    background-color: var(--secondary-light);
}

.status.success {
    color: var(--success);
    background-color: var(--success-light);
}

.status.warning {
    color: var(--warning);
    background-color: var(--warning-light);
}

.status.danger {
    color: var(--danger);
    background-color: var(--danger-light);
}

.status.neutral {
    color: var(--neutral);
    background-color: var(--neutral-light);
}