
.menubar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 6px;
}

.card-grid {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    min-height: 120px;
    /* max-width: 480px; */
    border-radius: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    box-shadow: 2px 2px 8px #3333;
    transition: all .2s ease;
}
.card-item:hover {
    border: 1px solid var(--secondary);
    background-color: var(--secondary-light);
}

.card-row {
    width: 100%;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-row h3 {
    display: inline-block;
    font-size: 1.2em;
    color: var(--text-light);
}
i.icon {
    opacity: .4;
    margin-right: 8px;
}

.card-body {
    width: 100%;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.project-title h3 {
    font-size: 2em;
    font-family: var(--heading-font);
}
.project-title a i {
    opacity: .4;
    font-size: .8em;
    transition: all .2s ease;
}
.project-title:hover a i {
    opacity: 1;
}
.info-row {
    width: 100%;
    margin: 24px 0;
}

h4 {
    font-size: 1.4em;
    font-family: var(--heading-font);
}

hr.form-separator {
    margin: 32px 0;
}

.add-task-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    margin-bottom: 8px;
}
.form-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: flex-end;
}

.form-row button {
    margin-bottom: 24px;
}

.add-task-button {
    font-size: 1.5em;
}

.task-card {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 8px;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 2px 2px 6px #3333;
    transition: all .2s ease;
}

.task-card:hover {
    border: 1px solid var(--secondary);
}

.left-card-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-card-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}