
.menubar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 6px;
}

.card-grid {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


.card-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-width: 240px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    cursor: pointer;
    box-shadow: 2px 2px 8px #3333;
    transition: all .2s ease;
}
.card-item:hover {
    border: 1px solid var(--secondary);
}

.card-row {
    width: 100%;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-row h3 {
    display: inline-block;
    font-size: 1.2em;
    color: var(--text-light);
}

.card-body {
    width: 100%;

}