
.task-card {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 8px;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 2px 2px 6px #3333;
    transition: all .2s ease;
}

.task-card:hover {
    border: 1px solid var(--secondary);
}

.left-card-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-card-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}
.form-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: flex-end;
}

.form-row button {
    margin-bottom: 31px;
}

h4 {
    margin-bottom: 16px;
}

hr.light-separator {
    margin: 16px 0;
}

.filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;;
}